<!DOCTYPE html>
<html lang="Fa">
<head>
    <meta http-equiv="content-type" content="text/html; charset = UTF-8"/>
    <title>پنل کاربری</title>
    <link rel="stylesheet" href="/css/userPanel.css">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container-fluid no-gutters">
    <!--    <div id="sendMassage-page" class="sendMassagePage">-->
    <!--        <div class="container">-->
    <!--            <div class="upperPart">-->
    <!--                <p id="mainHeader"> ارسال پیام </p>-->
    <!--                <img id="headerIcon" src="/icon/iconfinder_education-school-learn-study-06_2125344.svg"/>-->
    <!--            </div>-->
    <!--            <p id="TargetHeader" class="kharab">گیرنده پیام</p>-->
    <!--            <p id="contentHeader" class="kharab">متن پیام</p>-->
    <!--            <form action="/sendMassage" method="POST" enctype="multipart/form-data">-->
    <!--                <select name="theTarget" id="Target" class="kharab">-->
    <!--                    <% for(var k = 0 ; k < userNames.length ; k++) { %>-->
    <!--                        <option value="<%= userNames[k].email %>"><%= userNames[k].firstname + " " + userNames[k].lastname %></option>-->
    <!--                    <% } %>-->
    <!--                </select>-->
    <!--                <textarea name="mainContent" id="content" class="kharab"></textarea>-->

    <!--                <input id="fileUpload" type="file" name="messageAttachment"/>-->

    <!--                <button id="uploadButton" type="button" class="kharab"> بارگزاری</button>-->
    <!--                <span id="uploadText" class="kharab"> No file chosen, yet.</span>-->

    <!--                <input id="Send" type="submit" value="ارسال پیام" class="kharab">-->
    <!--            </form>-->
    <!--            <script>-->
    <!--                const realButton = document.getElementById("fileUpload");-->
    <!--                const fakeButton = document.getElementById("uploadButton");-->
    <!--                const uploadText = document.getElementById("uploadText");-->

    <!--                fakeButton.addEventListener("click", function () {-->
    <!--                    realButton.click();-->
    <!--                });-->
    <!--                realButton.addEventListener("change", function () {-->
    <!--                    uploadText.innerHTML = realButton.value;-->
    <!--                });-->
    <!--            </script>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div id="receiveMassage-page" class="receiveMassagePage">-->
    <!--        <div class="no-gutters container">-->
    <!--            <div class="text row rounded-top align-content-center">-->
    <!--                <div class="col text-center">-->
    <!--                    پیام های دریافتی-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="myTable no-gutters">-->
    <!--                <div class="tableHeader">-->
    <!--                    <div class="headerContent1">عنوان</div>-->
    <!--                    <div class="headerContent2">از طرف</div>-->
    <!--                    <div class="headerContent3">تاریخ</div>-->
    <!--                </div>-->
    <!--                <div class="myRow row no-gutters">-->
    <!--                    <div class="content1">هوا فضا</div>-->
    <!--                    <div class="content2">شبنام</div>-->
    <!--                    <div class="content3">تاریخ</div>-->
    <!--                </div>-->
    <!--                <div class="tableFooter">-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div id="reviewGozaresh-page" class="adminReviewGozaresh">
        <div class="no-gutters container">
            <img src="/icon/iconfinder_icon-42-note-add_314405.svg"></img>
            <div class="textbozorg">گزارش جلسه</div>
            <div id="tarikh" class="normaltext">تاریخ</div>
            <div id="hoze" class="normaltext">حوزه تدریس</div>
            <div id="tedad" class="normaltext">تعداد زنگ</div>
            <div id="sharh" class="normaltext">شرح گزارش</div>
            <div id="barname" class="normaltext">برنامه جلسه آینده</div>
            <div id="lavazem" class="normaltext">لوازم مورد نیاز جلسه اینده</div>
            <p id="sharhtextarea" class="textareas"><%= review.sharh %></p>
            <p id="barnametextarea" class="textareas"><%= review.barname %></p>
            <p id="lavazemtextarea" class="textareas"><%= review.lavazem %></p>
            <p id="tedadtextarea" class="smalltextareas"><%= review.tedad %></p>
            <p id="hozetextarea" class="smalltextareas"><%= review.hoze %></p>
            <p id="tarikhtextarea" class="smalltextareas"><%= review.tarikh %></p>
        </div>
    </div>

    <div id="tedadJalasat-page" class="adminBarresiGozaresh">
        <div class="no-gutters container">
            <a href="/user/lastYear" class="arrows" id="lastYearArrow"><img src="/icon/left.svg"/></a>
            <div id="yearHeader"><%= myDate.jy %></div>
            <a href="/user/nextYear" class="arrows" id="nextYearArrow"><img src="/icon/right.svg"/></a>
            <a href="/user/spring">
                <div class="season" id="seasonOne">بهار</div>
            </a>
            <a href="/user/summer">
                <div class="season" id="seasonTwo">تابستان</div>
            </a>
            <a href="/user/fall">
                <div class="season" id="seasonThree">پاییز</div>
            </a>
            <a href="/user/winter">
                <div class="season" id="seasonFour">زمستان</div>
            </a>
            <div class="middlePart">
                <img id="jalasatLeftArrow" src="/icon/left.svg"/>
                <ul id="jalasat">
                    <% for(var i = 0 ;  i < response.length ; i++) { %>
                        <% if(response[i].condition == 3) { %>
                            <li class="jalasatDates" style="border-bottom:  4px solid lawngreen"><a class="theLinks"
                                                                                                    href="/user/<%= response[i].id %>"><%= response[i].year
                                    + "/" + response[i].month + "/" + response[i].day %></a></li>
                        <% } %>
                        <% if(response[i].condition == 2) { %>
                            <li class="jalasatDates" style="border-bottom:  4px solid red"><a class="theLinks"
                                                                                              href="/user/<%= response[i].id %>"><%= response[i].year
                                    + "/" + response[i].month + "/" + response[i].day %></a></li>
                        <% } %>
                        <% if(response[i].condition == 1) { %>
                            <li class="jalasatDates" style="border-bottom:  4px solid #4a90e2"><a class="theLinks"
                                                                                                  href="/user/<%= response[i].id %>"><%= response[i].year
                                    + "/" + response[i].month + "/" + response[i].day %></a></li>
                        <% } %>
                            <% if(response[i].condition == 0) { %>
                                <li class="jalasatDates" style="border-bottom:  4px solid #4a90e2"><a class="theLinks"
                                                                                                      href="/user/<%= response[i].id %>"><%= response[i].year
                                        + "/" + response[i].month + "/" + response[i].day %></a></li>
                            <% } %>
                    <% } %>
                </ul>
                <img id="jalasatRightArrow" src="/icon/right.svg"/>
            </div>
            <div class="counters" id="allClasses">
                <span class="normalText"> تعداد کل جلسات :</span>
                <span class="counterNumber"><%= total %></span>
            </div>
            <div class="counters" id="seasonClasses">
                <span class="normalText">تعداد جلسات</span>
                <span class="seasonTotal"><%= currentSeason %></span>
                <span class="counterNumber"> : <%= seasonTotal %></span>
            </div>
            <script>
                var jd = document.getElementsByClassName("jalasatDates");
                <% var counter = 0; %>
                var x = 0;
                <% var yearCounter = 0; %>

                x = 0;
                <% counter = 0; %>
                <% for(var i = 0 ;  i < response.length ; i++) { %>
                <% if(response[i].season === currentSeasonNumber && response[i].year === myDate.jy && counter < 16){ %>
                <% counter++; %>
                jd[x].style.display = "inline-block";
                <% }else{ %>
                jd[x].style.display = "none";
                <% } %>
                x++;
                <% } %>

                function nextYear() {
                    document.getElementById("yearHeader").innerHTML = "<% myDate.jy %>";
                }

                function prevYear() {
                    document.getElementById("yearHeader").innerHTML = "<% myDate.jy %>";
                }

                var element;
                <% if( currentSeasonNumber === 1 ) { %>
                element = document.getElementById("seasonOne");
                element.style.color = "#ffffff";
                element.style.backgroundColor = "#117fff";
                <% } %>
                <% if( currentSeasonNumber === 2 ) { %>
                element = document.getElementById("seasonTwo");
                element.style.color = "#ffffff";
                element.style.backgroundColor = "#117fff";
                <% } %>
                <% if( currentSeasonNumber === 3 ) { %>
                element = document.getElementById("seasonThree");
                element.style.color = "#ffffff";
                element.style.backgroundColor = "#117fff";
                <% } %>
                <% if( currentSeasonNumber === 4 ) { %>
                element = document.getElementById("seasonFour");
                element.style.color = "#ffffff";
                element.style.backgroundColor = "#117fff";
                <% } %>
            </script>
        </div>
    </div>

    <div id="addTarheDars-page" class="addTarheDarsPage">
        <div class="no-gutters container">
            <img class="logo" src="/icon\iconfinder_Tilda_Icons_1ed_calendar_3586371.svg"/>
            <div class="myTexts">
                <p id="normaltext1">ثبت طرح درس سالانه</p>
                <p id="normaltext2">(excel یا word فایل)</p>
            </div>
            <form action="/addTarheDars" enctype="multipart/form-data" method="POST">
                <input id="fileuploadTarheDars" type="file" name="lessonPlan" hidden="hidden"/>
                <button id="custom-button" type="button"> بارگزاری</button>
                <span id="fileText"> No file chosen, yet.</span>
                <input id="submit" type="submit" value="ثبت طرح درس"/>
                <input id="button" type="button" name="moshahedetarhedars" value="مشاهده طرح درس"/>
            </form>
            <script>
                const realButton1 = document.getElementById("fileuploadTarheDars");
                const fakeButton1 = document.getElementById("custom-button");
                const uploadText1 = document.getElementById("fileText");

                fakeButton1.addEventListener("click", function () {
                    realButton1.click();
                });
                realButton1.addEventListener("change", function () {
                    uploadText1.innerHTML = realButton1.value;
                });
            </script>
        </div>
    </div>

    <div id="addGozaresh-page" class="addGozareshPage">
        <div class="no-gutters container">
            <img src="/icon/iconfinder_icon-42-note-add_314405.svg"></img>
            <div class="textbozorg">گزارش جلسه</div>
            <div id="tarikhAddGozaresh" class="normaltext">تاریخ</div>
            <div id="hozeAddGozaresh" class="normaltext">حوزه تدریس</div>
            <div id="tedadAddGozaresh" class="normaltext">تعداد زنگ</div>
            <div id="sharhAddGozaresh" class="normaltext">شرح گزارش</div>
            <div id="barnameAddGozaresh" class="normaltext">برنامه جلسه آینده</div>
            <div id="lavazemAddGozaresh" class="normaltext">لوازم مورد نیاز جلسه اینده</div>
            <form action="/addGozaresh" method="POST">
                <textarea name="descriptionInput" id="sharhTextareaAddGozaresh" class="textareas"></textarea>
                <textarea name="planInput" id="barnameTextareaAddGozaresh" class="textareas"></textarea>
                <textarea name="toolsInput" id="lavazemTextareaAddGozaresh" class="textareas"></textarea>
                <textarea name="numberInput" id="tedadTextareaAddGozaresh" class="smalltextareas"></textarea>
                <textarea name="areaInput" id="hozeTextareaAddGozaresh" class="smalltextareas"></textarea>
                <input id="tarikhTextareaAddGozaresh" onclick="ShowCalendar()" type="button" class="smalltextareas"/>
                <input name="dateDay" id="dateInputDay" hidden="hidden" type="number"/>
                <input name="dateMonth" id="dateInputMonth" hidden="hidden" type="number"/>
                <input name="dateYear" id="dateInputYear" hidden="hidden" type="number"/>
                <input name="dateSeason" id="dateInputSeason" hidden="hidden" type="number"/>
                <input class="sabt" type="submit" name="sumbit" value="ثبت"/>
            </form>
            <div class="tableContainer">
                <input onclick="HideCalendar()" class="closeButton" type="image"
                       src="/icon/iconfinder_00-ELASTOFONT-STORE-READY_close_2703079.svg" name="exit" value="ss"/>
                <div class="calendar">
                    <ul class="weekdays">
                        <li class="clickable">ش</li>
                        <li class="clickable">ی</li>
                        <li class="clickable">د</li>
                        <li class="clickable">س</li>
                        <li class="clickable">چ</li>
                        <li class="clickable">پ</li>
                        <li class="clickable">ج</li>
                    </ul>

                    <ul id="myCalendarDays" class="days">
                        <% for(var i = 1 ; i < 31 ; i++) { %>
                            <li onclick="setValue(<%= i %>)" class="dayNumbers"><%= i %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <script>
                var b = document.getElementsByClassName("clickable")[0];
                b.click(function () {
                    console.log(121);
                });

                function setValue(a) {
                    document.getElementById("tarikhTextareaAddGozaresh").value = <%= myDate.jy %> +"/" +<%= myDate.jm %>
                        +"/" + a;
                    document.getElementById("dateInputDay").value = a;
                    document.getElementById("dateInputMonth").value = <%= myDate.jm %> + 0;
                    document.getElementById("dateInputYear").value = <%= myDate.jy %> + 0;
                    document.getElementById("dateInputSeason").value = <%= currentSeasonNumber %> + 0;
                    console.log(document.getElementById("dateInputDay").value);
                    console.log(document.getElementById("dateInputMonth").value);
                    console.log(document.getElementById("dateInputYear").value);
                    console.log(document.getElementById("dateInputSeason").value);
                }

                function ShowCalendar() {
                    var a = document.getElementsByClassName("tableContainer")[0];
                    a.style.display = "inline-block";
                }

                function HideCalendar() {
                    console.log(1);
                    var a = document.getElementsByClassName("tableContainer")[0];
                    a.style.display = "none";
                }
            </script>
        </div>
    </div>

    <div class="Menu">
        <div class="balaMenu">
            <div>
                <img id="avatar" src="/icon/avatar-1.jpg" alt="Avatar">
            </div>
            <div id="userName"><%= fullname %></div>
            <div id="job"><%= job %></div>
            <div id="date"><%= todayDate %></div>
        </div>
        <div class="painMenu">
            <ul>
                <li>
                    <div class="name">
                        انتخاب درس <img class="icon" src="/icon/iconfinder_study_115795.svg" alt="study"/>
                    </div>
                </li>
                <li>
                    <div class="name">
                        انتخاب مدرسه <img class="icon"
                                          src="/icon/iconfinder_education-school-learn-study-06_2125344.svg"/>
                    </div>
                </li>
                <li>
                    <div onclick="displayAddTarheDars()" class="name">
                        ثبت و مشاهده طرح درس <img class="icon"
                                                  src="/icon/iconfinder_Tilda_Icons_1ed_calendar_3586371.svg"/>
                    </div>
                </li>
                <li>
                    <div onclick="displayAddGozaresh()" class="name">
                        ثبت گزارش جلسه <img class="icon" src="/icon/iconfinder_icon-42-note-add_314405.svg"/>
                    </div>
                </li>
                <li>

                    <div onclick="displayReviewGozaresh()" class="name">
                        بررسی گزارشات ثبت شده <img class="icon" src="/icon/iconfinder_icon-46-note-checked_314408.svg"/>
                    </div>

                </li>
                <li>
                    <div onclick="displayTedadJalasat()" class="name">
                        تعداد جلسات <img class="icon" src="/icon/iconfinder_icon-hashtag_2867908.svg"/>
                    </div>
                </li>
                <li>
                    <div onclick="displaySendMassage()" class="name">
                        ارسال پیام <img class="icon" src="/icon/iconfinder_talk_chat_107188.svg"/>
                    </div>
                </li>
            </ul>
            <script>
                function hideCurrent() {
                    document.getElementById("addGozaresh-page").style.display = "none";
                    document.getElementById("addTarheDars-page").style.display = "none";
                    document.getElementById("reviewGozaresh-page").style.display = "none";
                    document.getElementById("tedadJalasat-page").style.display = "none";
                    document.getElementById("sendMassage-page").style.display = "none";
                }

                <% if(page == 1) { %>
                document.getElementById("addGozaresh-page").style.display = "inline-block";
                <% } %>
                <% if(page == 2) { %>
                document.getElementById("addTarheDars-page").style.display = "inline-block";
                <% } %>
                <% if(page == 3) { %>
                document.getElementById("reviewGozaresh-page").style.display = "inline-block";
                <% } %>
                <% if(page == 4) { %>
                document.getElementById("tedadJalasat-page").style.display = "inline-block";
                <% } %>
                <% if(page == 5) { %>
                document.getElementById("sendMassage-page").style.display = "inline-block";
                <% } %>

                // function displaySendMassage() {
                //     location.href = "/user/sendMassagePage"
                // }

                function displayReviewGozaresh() {
                    location.href = "/user/reviewGozareshPage"
                }

                function displayAddTarheDars() {
                    location.href = "/user/addTarhPage"
                }

                function displayAddGozaresh() {
                    location.href = "/user/addGozareshPage"
                }

                function displayTedadJalasat() {
                    location.href = "/user/tedadJalasatPage"
                }
            </script>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<!-- Compiled and Minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
</body>

</body>
</html>
